{% extends 'template.html'%}
{%block head%}
  <link rel="stylesheet" href="../static/css/about.css">
{%endblock%}

{%block content%}
<section class="features">
    <div class="head">
            <h1>About A&ampA</h1>
    </div>
   <div class="box">
      <div class='first'>
          <p>
            A&ampA (Akshay and Ashish) was born out of a vision to become the most admired in-the-home entertainment, education and interactive services company that creates radical social transformation, and delights and empowers customers.We were the first to commission Internet over Cable (DOCSIS system) across Mysore city. We have more than a decade of rich experience in broadband services such as Dedicated &amp; Shared internet services, Managed broadband, Fiber solutions, MSO solutions, residential Internet &amp; Wi-Fi. We are today proudly serving most of Educational Institutions, Govt Establishments, SME and corporate customers across Mysore district.Established in mid-2008 by veterans from the telecom industry, A&ampA have built some of the largest networks in mysuru for broadband services.<br>
            A&ampA has optic fibre cable and last mile coaxial cable network in Mysuru city facilitates world-class service delivery to its customers.The company has invested huge amount on broadband cable infrastructure .The network has been implemented by partnering with companies.A&ampA plans to double up its talent base over the next coming years.
          </p>
       </div>
    </div>
</section>
{%endblock%}