{% extends 'template.html'%}
{%block head%}
  <link rel="stylesheet" href="../static/css/careers.css">
{%endblock%}

{%block content%}
<section class="job">
    <div class='box'>
            <h1 >We Are Hiring!</h1>
            <p>We collaborate, we socialize, we innovate, we get things done—and we do all of that while having a ton of fun. And what we do, brings great happiness and satisfaction in over 1000 homes. You too can be a part of a motivated team made up of smart people, learn new skills, do challenging yet meaningful work, and become a better professional. Together, we’ll shape the future of triple play services in Mysuru.Do you have talent and want to make an impact? You’re destined to become an A&ampAtian! So what are you waiting for? Come work with us. We are in Mysuru at A&ampA are constantly looking for dynamic and innovative individuals across the technology and industry. Please forward your profile to hr@ana.in and we will get in touch with you.</p>
    </div>
</section>
{%endblock%}
