{% extends 'template.html'%}
{%block head%}
  <link rel="stylesheet" href="../static/css/plan.css">
{%endblock%}
{%block content%}
<section class="section-plans">
    <div class="box">
            <h1>Our Amazing Plans</h1>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <div class="plan-box">
                    <div>
                        <h3>Basic</h3>
                        <p class="plan-price">&#8377 599
                            <span>/ month</span>
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <i class="ion-flash ion-small"></i>10 Mbps Speed</li>
                            <li>
                                <i class="ion-wifi ion-small"></i>250 GB Broadband data</li>
                            <li>
                                <i class="ion-speedometer ion-small"></i>512 Kbps Post FUP Speed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="plan-box">
                    <div>
                        <h3>Premium</h3>
                        <p class="plan-price">&#8377 799
                            <span>/ month</span>
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <i class="ion-flash ion-small"></i>25 Mbps Speed</li>
                            <li>
                                <i class="ion-wifi ion-small"></i>500 GB Broadband data</li>
                            <li>
                                <i class="ion-speedometer ion-small"></i>1 Mbps Post FUP Speed</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col span-1-of-3">
                <div class="plan-box">
                    <div>
                        <h3>Elite</h3>
                        <p class="plan-price">&#8377 999
                            <span>/ month</span>
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <i class="ion-flash ion-small"></i>50 Mbps Speed</li>
                            <li>
                                <i class="ion-wifi ion-small"></i>750 GB Broadband data</li>
                            <li>
                                <i class="ion-speedometer ion-small"></i>2 Mbps Post FUP Speed</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}